body{
    background-color:hsl(217, 54%, 11%);
}
.main-img{
width: 300px;
}
section{
    background-color: hsl(216, 50%, 16%);
    width: 375px;

}
h1{
    color: hsl(0, 0%, 100%);
}
p{
    color: hsl(215, 32%, 27%);
}
.item1{
    color: hsl(178%, 100%, 50%);
}
